@media all and (min-width: 508px) {
  .navbar-fixed-width {
    width: 768px;
    margin-left: auto;
    margin-right:auto;
 }
 .formSearch {
	background-color: rgba(0, 0, 0, 0.5);
    height: 332px;
    margin: 0 0 0 0px;
    padding: 10px;
    position: absolute;
    top: 20px;
    width: 350px;
    z-index: 2;
}
}

@media all and (min-width: 992px) {
  .navbar-fixed-width {
    width: 992px;
    margin-left: auto;
    margin-right:auto;
  }
.formSearch {
	background-color: rgba(0, 0, 0, 0.5);
    height: 332px;
    margin: 0 0 0 15px;
    padding: 10px;
    position: absolute;
    top: 20px;
    width: 350px;
    z-index: 2;
}
}

@media all and (min-width: 1200px) {
  .navbar-fixed-width {
    width: 1200px;
    margin-left: auto;
    margin-right:auto;
  }
  .formSearch {
		background-color: rgba(0, 0, 0, 0.5);
		height: 332px;
		margin: 0 0 0 15px;
		padding: 10px;
		position: absolute;
		top: 20px;
		width: 350px;
		z-index: 2;
	}
}

/* CSS used here will be applied after bootstrap.css */

.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}

.hero {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
}
.bg-overlay {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0px, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.6) 100%) repeat scroll 0 0;
}
.hero.hero-overlap .intro-wrap {
    bottom: 18rem;
}
.hero .intro-wrap {
    bottom: 5rem;
    padding-right: 0;
}
.hero .intro-wrap {
    max-width: 934px;
}
.hero .intro-wrap {
    bottom: 3rem;
    max-width: 711px;
    padding-right: 20px;
    position: absolute;
}
.featured-destinations {
    padding-bottom: 0;
    padding-top: 0;
}
.featured-destinations {
    background: #f5f6f6 none repeat scroll center center / cover ;
    padding-bottom: 0rem;
    margin-top: 0px;
}
.featured-destinations .cards.overlap {
    position: absolute;
    top: 79px;
    z-index: 100
}
.cards {
    margin-bottom: 2rem;
    margin-left: 0rem;
}
.featured-destinations .cards .card-details {
    background-color: rgba(0, 0, 0, 0.5);
}
.featured-destinations .cards .card-details h3{
    color: #fff;
}
.featured-destinations .cards .card-details label{
    color: #fff;
}
.card-details {
    padding: 2rem;
}
.box-icon::before, [class^="box-icon-"]::before, [class*=" box-icon-"]::before {
    display: inline-block;
}
.box-icon-left {
    float: left;
    margin-right: 15px;
}
.box-icon-border-dashed {
    border-style: dashed;
}
.box-icon-border, [class^="box-icon-border"], [class*=" box-icon-border"] {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.box-icon, [class^="box-icon-"], [class*=" box-icon-"] {
    background: #ed8323 none repeat scroll 0 0;
    color: #fff;
    display: block;
    height: 30px;
    line-height: 30px;
    position: relative;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 30px;
    z-index: 2;
}
.box-icon-large {
    font-size: 42px;
    height: 90px;
    line-height: 90px;
    width: 90px;
}

.round {
    border-radius: 50%;
}
.widgetCS {
    background-color: #FFBF00;
    border-radius: 0px;
    margin-bottom: 0px;
    border-width: 0px;
    min-height: 95px;
}
.widgetUs {
    border-radius: 0px;
    margin-bottom: 0px;
    border-width: 0px;
}
.img_bayar {
    background-position: 0 -114px !important;
    display: block;
    height: 35px;
    width: 85px;
}
.spriteFooter {
    position: relative;
}
ul.imageList {
    list-style: outside none none;
    margin: 20px 0 0;
    padding: 0;
}
ul.imageList li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 4px 2px 0;
    padding: 0;
}
footer {
    background-color: #1ba0e2;
    color: #fff;
    padding: 0 20px;
}
.footer-us li {
    list-style: outside none none;
    margin: 0 0 2px;
    padding: 0 0 2px;
}
.footer-us a {
    color:#fff;
}
.b-popular_list, .b-popular_item {
    list-style-type: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
.b-popular_item {
    clear: both;
    padding: 7px 6px 10px 10px;;
    position: relative;
    transition: border 0.3s ease 0s;
    z-index: 0;

    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #fff #fff #edf0f5;
    border-image: none;
    border-style: solid;
    border-width: 1px;
}

.b-popular_item::after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.lp_endorsements_popular_destinations_container .b-popular_item {
    position: relative;
}
.b-popular_list, .b-popular_item {
    list-style-type: none;
    vertical-align: middle;
}
.lp_endorsements_popular_destinations_container .b-popular_item h3 {
    overflow: visible;
}
.b-popular_item h3, .b-popular_item p {
    display: inline-block;
    overflow: hidden;
    width: 70%;
}
.vendorTitle{
    bottom: 1px; left: 116px; position: absolute; margin-bottom: 10px;
}

@media all and (max-width: 980px) {
    .featured-destinations .cards.overlap {
        top: 0px;
        margin-top: 0px;
        position: relative;
    }
    .cards {
        margin-bottom: 2rem;
        margin-left: 0rem;
    }
    .featured-destinations {
        background: #f5f6f6 none repeat scroll center center / cover ;
        padding-bottom: 0rem;
        padding-top: 0rem;
    }
    .widgetCS {
        min-height: 98px;
    }
    .featured-destinations .cards .card-details {
        background-color: #fff;
    }
}
.widgetVendor {
    background-color: #ffbb39;
    border-radius: 0px;
    margin-bottom: 0px;
    border-width: 0px;
}
.icon-kuning{
    background: #ffbf00 none repeat scroll 0 0;
    border-color: #ffbf00;
    color: #fff;
}
.icon-biru{
    background: #0275d8 none repeat scroll 0 0;
    border-color: #0275d8;
    color: #fff;
}
.icon-ungu{
    background: #6f5499 none repeat scroll 0 0;
    border-color: #6f5499;
    color: #fff;
}
.singlearmada {
    background: #fff none repeat scroll 0 0;
    clear: both;
    cursor: pointer;
    display: block;
    height: auto;
    margin: 0;
    padding: 10px;
}
.singlearmada .button-box {
    margin-top: 12px;
    padding: 0;
    text-align: right;
}
.singlearmada .harga-box {
    color: #ed9245;
    font-size: 20px;
    height: 50px;
    padding-top: 10px;
    text-align: center;
}
.singlearmada .name-box {
    color: #ed9245;
    height: 50px;
    padding-top: 10px;
    text-align: center;
}
.singlearmada .logo-box {
    height: 50px;
    padding-top: 10px;
    text-align: center;
}
.singlearmada .clock-box {
    height: 50px;
    padding-top: 10px;
    text-align: center;
}
#map-vendor {
    height: 300px;
    padding: 10px !important;
    margin-bottom: 10px !important;
    width: 100%;
}

.tabs {
    max-width: 90%;
    float: none;
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
}
.tabs:after {
    content: '';
    display: table;
    clear: both;
}
.tabs input[type=radio] {
    display:none;
}
.tabs label {
    display: block;
    float: left;
    width: 50%;
    color: #ccc;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    line-height: 2;
    cursor: pointer;
    box-shadow: inset 0 2px #ccc;
    border-bottom: 2px solid #ccc;
    -webkit-transition: all 0.5s; /* Safari 3.1 to 6.0 */
    transition: all 0.5s;
}
.tabs label span {
    display: none;
}
.tabs label i {
    padding: 5px;
    margin-right: 0;
}
.tabs label:hover {
    color: #1ba0e2;
    box-shadow: inset 0 2px #1ba0e2;
    border-bottom: 2px solid #1ba0e2;
}
.tab-content {
    display: none;
    width: 100%;
    float: left;
    padding: 15px 0px;
    box-sizing: border-box;
    background-color:#ffffff;
}

.tab-content * {
    -webkit-animation: scale 0.7s ease-in-out;
    -moz-animation: scale 0.7s ease-in-out;
    animation: scale 0.7s ease-in-out;
}
@keyframes scale {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    50% {
        transform: scale(1.01);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.tabs [id^="tab"]:checked + label {
    background: #FFF;
    box-shadow: inset 0 2px #1ba0e2;
    border-bottom: 2px solid #1ba0e2;
    color: #1ba0e2;
}
#tab1:checked ~ #tab-content1,
#tab2:checked ~ #tab-content2,
#tab3:checked ~ #tab-content3 {
    display: block;
}
@media (min-width: 768px) {
    .tabs i {
        padding: 5px;
    }
    .tabs label span {
        display: inline-block;
    }
    .tabs {
        max-width: 100%;
    }
}
#logo-vendor-booking{
    height: 111px;
}

.text-kuning{
    color: #ffd21c;
}
.text-biru{
    color: #1ba0e2;
}

.tebal{
    font-weight: bold;
}

.no-margin-right{
    margin-right:0px;
}
.no-margin-top{
    margin-top:0px;
}
.no-margin-bottom{
    margin-bottom:0px;
}
.set-margin-top{
    margin-top:20px;
}
.mb-10{
    margin-bottom: 10px;
}
.pad-bottom5{
    padding-bottom: 5px;
}

.pad-topbottom15{
    padding-top: 5px; padding-bottom: 5px;
}

#map-lokasi-vendor {
    height: 150px;
    width: 100%;
}

.top{
    margin-top:70px;
}

.left-inner-addon > i {
    color: #dadada;
    font-size: 20px;
    padding: 7px 12px;
    position: absolute;
    text-align: center;
    vertical-align: middle;
}

.left-inner-addon > input[type="date"], .left-inner-addon > input[type="email"], .left-inner-addon > input[type="password"], .left-inner-addon > input[type="text"], .left-inner-addon > input[type="time"], .left-inner-addon > select, .left-inner-addon > textarea {
    padding-left: 40px !important;
    margin-bottom: 10px !important;
}

.for-free {
    margin-right: 2%;
    width: 50%;
}

#car-design ul {
    display: block;
    list-style: outside none none;
}
.result_included {
    clear: both;
    display: inline;
    float: left;
    font-size: 10px;
    margin-top: 0;
}

.result_info ul li.result_included_title, .result_included li.result_included_title {
    background-image: none;
    color: #678a32;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 10px;
}

hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE -moz-use-text-color #FFFFFF;
    border-style: solid none;
    border-width: 1px 0;
    margin-bottom: 10px !important;
}

.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}
.stepwizard-step  > .btn[disabled]{
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-box-shadow: none;
    box-shadow: none;
    pointer-events: none;
    color: #ccc;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
